PR 2014.txt
PR 2017.txt
Taran's Windows Mods/SavedExplorerAddress.txt
Taran's Windows Mods/SavedExplorerAddress.txt
Taran's Windows Mods/SavedExplorerAddress.txt
Taran's Windows Mods/SavedExplorerAddress.txt
Taran's Windows Mods/SavedExplorerAddress.txt
Taran's Windows Mods/SavedExplorerAddress.txt
do not use/All Premiere Functions - Copy 2.ahk
do not use/All Premiere Functions - Copy.ahk
Taran's Premiere Mods/pretty sure i dont use these anymore/PREMIERE MOD - Instant RESCALE button ALTERNATIVE DO NOT USE.ahk
Taran's Premiere Mods/pretty sure i dont use these anymore/PREMIERE MOD - Instant RESCALE button -- now dead.ahk
Taran's Premiere Mods/pretty sure i dont use these anymore/PREMIERE MOD - Instant RESCALE button - Copy.ahk
Taran's Premiere Mods/pretty sure i dont use these anymore/Almost All Windows Functions - Copy.ahk
do not use/WINDOWS MOD - Various functions - COPY before all being moved into its own script.ahk
do not use/SECOND KEYBOARD Premiere functions in AutoHotKey.ahk
suspicious SYNC - ignore me/ALL MULTIPLE KEYBOARD ASSIGNMENTS- suspicious backup.ahk
suspicious SYNC - ignore me/All Premiere Functions - suspicious backup.ahk
suspicious SYNC - ignore me/Almost All Windows Functions - IMPOSTER.ahk
do not use/test SENDING scancodes please ignoree.ahk
test  plz ignoree.ahk
Taran's Windows Mods/SavedExplorerAddress.txt
Taran's Windows Mods/SavedExplorerAddress.txt
Taran's Windows Mods/SavedExplorerAddress.txt
Taran's Windows Mods/SavedExplorerAddress.txt
Taran's Windows Mods/SavedExplorerAddress.txt
Taran's Windows Mods/SavedExplorerAddress.txt
FYI/KEYCAP IMAGES for STREAM DECK/tempalte-for-missing.psd
do not use/DO NOT USE - fake scroll FF.ahk
2nd keyboard support files/debug.log
FYI/~$Table_of_all_scan_codes.xlsx
FYI/~$Table_of_all_scan_codes.xlsx
FYI/~$Table_of_all_scan_codes.xlsx
FYI/~$Table_of_all_scan_codes.xlsx
FYI/scancode.doc
FYI/~$Table_of_all_scan_codes.xlsx
Taran's_Windows_Mods/SavedExplorerAddress.txt
Taran's_Windows_Mods/SavedExplorerAddress.txt
Taran's_Windows_Mods/SavedExplorerAddress.txt
3 things text.txt
Taran's_Windows_Mods/SavedExplorerAddress.txt
INFO_and_PROFILES/KEYCAP_IMAGES/in progress/drop shadow.psd
